# MongoDB Connection
MONGO_URI=mongodb://127.0.0.1:27017/internhub

# JWT Secret
JWT_SECRET=super_secret_jwt_key_here

# Server Port
PORT=3000

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Nodemailer / SMTP (Mailtrap or Ethereal for testing)
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=your_ethereal_user_here
SMTP_PASS=your_ethereal_pass_here
SMTP_FROM=noreply@internhub.com

# Adzuna API (For real internships)
ADZUNA_APP_ID=c344f270
ADZUNA_APP_KEY=99848257bce505d4ad9afe705d36eada

# OpenAI or Gemini (For Essay Generation)
AI_API_KEY=your_ai_api_key_here
FRONTEND_URL=http://localhost:5173
